
h1{
    font-family:league spartam;
    color:#ffa511;
    text-align:center;
    font-weight:900px;
    font-size:55px;
    letter-spacing:2px;
    line-height:normal;
    text-decoration:double teal underline;
text-transform: capitalize;}